#return-container {
    top: 0;
    position:sticky;
    height: 30px;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
}

#return {
    box-sizing: border-box;
    position: relative;
    left: 20px;
    padding: 12px;
    cursor: pointer;
    background-image: url('./left-arrow-darker.svg');
    background-position: center;
    background-repeat: no-repeat;
}

#return:hover {
    background-image: url('./left-arrow.svg');
}

@media (max-width: 520px) {
    #return {
        width: 60px;
        height: 60px;
        background-size: 45px;
    }
}

@media (max-width: 400px) {
    #return {
        width: 50px;
        height: 50px;
        background-size: 35px;
    }
}

@media (max-width: 330px) {
    #return {
        width: 40px;
        height: 40px;
        background-size: 30px;
    }
}