*{
    --square-size: 150px;
    --emoji-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
    background-color: #333;
    color: white;  
}

#displayPlayer1{
    display: inline-block;
}

#displayPlayer2{
    display: inline-block;
}

#scorePlayer1, #scorePlayer2{
    color: white;
    font-size: 24px;
    padding: 5px;
    margin-left: 5px;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

input{
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    display: block;
}

input:focus{
    box-shadow: 0 0 0 0;
}

#userInformations{
    margin-left: 50px
}

h3{
    font-size: 24px;
}

.square{
    width: var(--square-size);
    height: var(--square-size);
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
}

.o{
    position: relative;
}

.o:after{
    position: absolute;
    content: "🛡️";
    font-size: var(--emoji-size);
    line-height: var(--square-size);
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.x{
    position: relative;
}

.x:after{
    position: absolute;
    content: "⚔️";
    font-size: var(--emoji-size);
    line-height: var(--square-size);
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.playAgain{
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #333;
}

.playAgain:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.playAgain:hover{
    background-color: white;
    font-size: 1.05em;
    transform: scale(1.05);
    transition: 500ms;
    cursor: pointer;
}

